<<<<<<< HEAD
body {
  font-family: Helvetica;
}

/* Navbar */
.navbar-header {
    overflow: hidden;
    background-color: #407076;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar-header a {
    float: left;
    display: block;
    color: #97B1A6;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: Helvetica;
    font-size: 18px;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #698996;
    color: black;
}

.navbar-form {
  float: right;
  padding: 16px;
}

/* Main content */
.main {
    margin-top: 80px;
}
h1 {
  color: #97B1A6;
=======
.jumbotron {
  padding-top: 90px;
  min-height: 600px;
  margin-bottom: 0;
  background-image: url('images/yellow-van');
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  color: #407076;
  padding-bottom: 30px;
  font-family:'Noto Serif TC', serif;
  font-style: black;
  font-size: 50px;
  text-align: center;
  margin-bottom: 1em;
}

.navbar-inverse {
  background-color: #ebbab9;
}

h2 {
  color: #407076;
  padding-bottom: 20px;
  font-family:'Noto Serif TC', serif;
  font-style: semi-bold;
  font-size: 30px;
  text-align: center;
>>>>>>> Rachel
}

h3 {
<<<<<<< HEAD
  color: #97B1A6;
}

{box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  /* display: none; */
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 20px;
  background-color: #407076;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #97B1A6;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #EBBAB9;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
=======
  color:#97b186;
  font-family:'Noto Serif TC', serif;
  font-style: regular;
  font-size: 25px;
  text-align: center;
}

p, ul, h4 {
  font-family:'Noto Serif TC', serif;
  font-style: regular;
  font-size: 14px;
  text-align: center;
  li-align: center;
  padding-left: 200px;
  padding-right: 200px;
}

.container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ebbab9;
  color: white;
  text-align: center;
}

/*six image containers for the veg*/
.column {
  float: left;
  width: 16%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
>>>>>>> Rachel
}
